# Exclude the build directories
[Dd]erived[Dd]ata/*
[Bb]uild/*
[Ii]ntermediates

# Exclude temp and swap files
*~.nib
*.swp
*~

# Exclude AppCode Files
.idea/*

# Exclude OS X cruft
.DS_Store
[Tt]humbs.db
.Trashes

# Exclude User Data from Workspace and Projects
xcuserdata
*.xcuserdata
*.xccheckout

# Exclude CocoaPods pods from
[Pp]ods

# Exclude other common files
*.log
*.bak*




